<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" href="../static/arduino.css">

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"/>

    <title>Rec'n'Play 22</title>
</head>

<body>

    <header>
        <nav>

            <div id="logo">
                <a href="https://recnplay.pe" target="_blank"><img id="logorecplay" src="../static/imgs/logo rec'n'play.png" alt=""></a>
            </div>
        </nav>

    </header>

    <div id="basedosite">
        <section id="arduino">
            <img src="../static/imgs-roupas/2.png" alt="look2" id="lookDestaque">
            <h1 style="text-decoration-color: #B926ED;">Nome</h1>
            <h2>Nome do Autor:</h2>
            <p>.</p>
            <h2>Materiais Utilizados na Peças:</h2>
            <p>.</p>
            <h2>Inspiração:</h2>
            <p>.</p>
            <h2>Conceito:</h2>
            <p>.</p>
            <h2>Processo de Criação:</h2>
            <p>.</p>
            <h2>Como ela associa as culturas:</h2>
            <p>.</p>
            <h2>Nome da equipe de confecção:</h2>
            <p>.</p>
            <h2>Nome da Modelo:</h2>
            <p>.</p>
            <br>
            <button id="like">
                <div class="label">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.4 5.25C5.61914 5.25 3.25 7.3293 3.25 10.0298C3.25 11.8927 4.12235 13.4612 5.27849 14.7604C6.43066 16.0552 7.91714 17.142 9.26097 18.0516L11.5796 19.6211C11.8335 19.793 12.1665 19.793 12.4204 19.6211L14.739 18.0516C16.0829 17.142 17.5693 16.0552 18.7215 14.7604C19.8777 13.4612 20.75 11.8927 20.75 10.0298C20.75 7.3293 18.3809 5.25 15.6 5.25C14.1665 5.25 12.9052 5.92214 12 6.79183C11.0948 5.92214 9.83347 5.25 8.4 5.25Z" fill="black"/>
                  </svg>
                  <strong style="color: #ff00fd;">Curtir</strong>
                </div>
                <div class="number" id="number">0</div>
            </button>
            <br>
            <hr>
        </section>
    </div>

    <footer>
        <br>
        <br>
        <div class="contato-senac">
            <h2 style="color: white; text-decoration-color: #B926ED;">Faculdade SENAC</h2>
            <br>
            <div class="icones-redes">
                <a href="https://www.instagram.com/senacpe/" target="_blank">
                    <img src="../static/imgs-icones/Instagram_logo.png" alt="insta-Senac">
                </a>
                <a href="https://www.linkedin.com/company/senacpe/" target="_blank">
                    <img src="../static/imgs-icones/174857 1 (Traced).png" alt="linkedln-Senac">
                </a>
            </div>
            <br>
            <div class="info-contatos">
                <h4>Endereço</h4>
                <p>Rua Marquês do Pombal, 57 <br>
                CEP 50100-170 <br>
                Santo Amaro – Recife/PE <br>
                </p>
                <h4>Telefone:</h4> 
                <p>0800 081 1688</p>
            </div>
            <br>
        </div>
        <div class="contato-recnplay">
            <h2 style="color: white; text-decoration-color: #ed26ab;">Rec 'n' Play</h2>
            <br>
            <div class="icones-redes">
                <a href="https://www.instagram.com/recnplayfestival/" target="_blank">
                    <img src="../static/imgs-icones/Instagram_logo.png" alt="insta-Recnplay">
                </a>
                <a href="https://www.linkedin.com/company/rec-n-play/" target="_blank">
                    <img src="../static/imgs-icones/174857 1 (Traced).png" alt="linkedln-Recnplay">
                </a>
                <a href="https://twitter.com/recnplay_br" target="_blank">
                    <img src="../static/imgs-icones/image 1 (Traced).png" alt="twitter-Recnplay">
                </a>
            </div>
            <br>
            <div class="info-contatos">
                <h4>Endereço</h4>
                <p>Rua do Bom Jesus, 227 <br>
                CEP: 50030-170 <br>
                Recife/PE <br>
                Proximo ao Paço do Frevo
                </p>
            </div>
            <br>
        </div>
        <br>
        <div class="links-uteis">
            <h5>Links Utilizaveis: </h5>
            <ul>
            <li><a href="#">O Music Box</a></li>
            <li><a href="#">O Manguebeat</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="https://faculdadesenacpe.edu.br/" target="_blank">Site Faculdade Senac-PE</a></li>
            <li><a href="#" target="_blank">Site Oficial Senac no Rec'N'Play</a></li>
        </div>
        <br>
        <div class="direitos-autorais">
            <p>&copy; Copyright <strong><span>Faculdade Senac</span></strong>. All Rights Reserved</p>
        </div>
        <br>
        <div id="logo-senac">
            <a href="https://faculdadesenacpe.edu.br/" target="_blank">
                <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
            </a>
        </div>
        <br>
    </footer>
<script src="curtida.js"></script>
</body>