<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" href="../static/gallery.css">
    
    <title>Rec'n'Play 22</title>
</head>

<body>

    <header>
        <nav>

            <div id="logo">
                <a href="https://recnplay.pe" target="_blank"><img id="logorecplay"
                        src="../static/imgs/logo rec'n'play.png" alt=""></a>
            </div>
            <button class="toggle-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span></button>
            <div class="menu-hamburguer">
                <ul>
                    <li><a href="/">INÍCIO</a></li>
                    <li>
                        <a href="/galeria">GALERIA DE PEÇAS</a>
                    </li>
                    <li>
                        <a href="/sobrenos">SOBRE NÓS</a>
                    </li>
                    <li>
                        <a href="#contatos" class="contatos-link">CONTATO</a>
                    </li>
                    <li><a href="/votacao">VOTE AQUI</a></li>
                    <li><a href="/cardin">PIERRE CARDIN</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <div id="basedosite">
        <section id="galeria">
            <h1>Galeria de Peças</h1>
            <br>
            <br>
            <div class="gallery-container">
                <a href="/look1" class="gallery-items">
                    <img src="../static/imgs-roupas/1.png" alt="look1">
                </a>
                <a href="/look2" class="gallery-items">
                    <img src="../static/imgs-roupas/2.png" alt="look2">
                </a>
                <a href="/look3" class="gallery-items">
                    <img src="../static/imgs-roupas/3.png" alt="look3">
                </a>
                <a href="/look4" class="gallery-items">
                    <img src="../static/imgs-roupas/4.png" alt="look4">
                </a>
                <a href="/look5" class="gallery-items">
                    <img src="../static/imgs-roupas/5.png" alt="look5">
                </a>
                <a href="/look6" class="gallery-items">
                    <img src="../static/imgs-roupas/6.png" alt="look6">
                </a>
                <a href="/look7" class="gallery-items">
                    <img src="../static/imgs-roupas/7.png" alt="look7">
                </a>
                <a href="/look9" class="gallery-items">
                    <img src="../static/imgs-roupas/8.png" alt="look8">
                </a>
                <a href="/look10" class="gallery-items">
                    <img src="../static/imgs-roupas/9.png" alt="look9">
                </a>
                <a href="/look11" class="gallery-items">
                    <img src="../static/imgs-roupas/10.png" alt="look10">
                </a>
                <a href="/look11" class="gallery-items">
                    <img src="../static/imgs-roupas/11.png" alt="look11">
                </a>
               
            </div>
            <br>
            <br>
            <hr>
            <br>
            <br>
        </section>
        
    </div>

    <footer>
        <br>
        <br>
        <div class="contatos">
            <div class="contato-senac">
                <h2 style="color: white; text-decoration-color: #a6ff00;">Faculdade SENAC</h2>
                <br>
                <div class="icones-redes">
                    <ul>
                        <li><a href="https://www.instagram.com/senacpe/" target="_blank"><i
                                    class="fab fa-instagram icon"></i> </a></li>
                        <li><a href="https://www.linkedin.com/company/senacpe/" target="_blank"><i
                                    class="fab fa-linkedin-in icon"></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="info-contatos">
                    <h4>Endereço</h4>
                    <p>Rua Marquês do Pombal, 57 <br>
                        CEP 50100-170 <br>
                        Santo Amaro – Recife/PE <br>
                    </p>
                    <h4>Telefone:</h4>
                    <p>0800 081 1688</p>
                </div>
                <br>
            </div>
            <div class="contato-recnplay">
                <h2 style="color: white; text-decoration-color: #a6ff00;">Rec 'n' Play</h2>
                <br>
                <div class="icones-redes">
                    <ul>
                        <li><a href="https://www.instagram.com/recnplayfestival/" target="_blank"><i
                                    class="fab fa-instagram icon"></i> </a></li>
                        <li><a href="https://twitter.com/recnplay_br" target="_blank"><i
                                    class="fab fa-twitter icon"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/rec-n-play/" target="_blank"><i
                                    class="fab fa-linkedin-in icon"></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="info-contatos">
                    <h4>Endereço</h4>
                    <p>Rua do Bom Jesus, 227 <br>
                        CEP: 50030-170 <br>
                        Recife/PE <br>
                        Proximo ao Paço do Frevo
                    </p>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="links-uteis">
            <h5>Senac em Outros Projetos: </h5>
            <ul>
                <li><a href="#" style="color: #a6ff00;">O Music Box</a></li>
                <li><a href="#" style="color: #7bff00;">O Manguebeat</a></li>
                <li><a href="#" style="color: #2bff00;">Sobre nós</a></li>
                <li><a href="https://faculdadesenacpe.edu.br/" target="_blank" style="color: #00ff15;">Site Faculdade
                        Senac-PE</a></li>
                <li><a href="#" target="_blank" style="color: #00ff22;">Site Oficial Senac no Rec'N'Play</a></li>
        </div>
        <br>
        <div class="direitos-autorais">
            <h5>&copy; Copyright <strong><span>Faculdade Senac</span></strong>. All Rights Reserved</h5>
        </div>
        <br>
        <div id="logo-senac">
            <a href="https://faculdadesenacpe.edu.br/" target="_blank">
                <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
            </a>
        </div>
        <br>
    </footer>

    <script src="../static/menu.js"></script>
</body>
<