<!DOCTYPE html>
<html lang="pt-br">


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" href="../static/pecas.css">

    <title>Rec'n'Play 22</title>
</head>

<body>

    <header>
        <nav>

            <div id="logo">
                <a href="https://recnplay.pe" target="_blank"><img id="logorecplay"
                        src="../static/imgs/logo rec'n'play.png" alt=""></a>
            </div>
            <button class="toggle-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span></button>
            <div class="menu-hamburguer">
                <ul>
                    <li><a href="/">INÍCIO</a></li>
                    <li>
                        <a href="/galeria">GALERIA DE PEÇAS</a>
                    </li>
                    <li>
                        <a href="/sobrenos">SOBRE NÓS</a>
                    </li>
                    <li>
                        <a href="#contatos" class="contatos-link">CONTATO</a>
                    </li>
                    <li><a href="/votacao">VOTE AQUI</a></li>
                    <li><a href="/cardin">PIERRE CARDIN</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <div id="basedosite">
        <section id="pecas">
            <img src="../static/imgs-roupas/10.png" alt="look11" id="lookDestaque">
            <label class="contador">Likes:{{curtida}}</label>
            <h1 style="text-decoration-color: #B926ED;">Nome</h1>
            <h2>Nome do Autor:</h2>
            <form action="/curtida10" method="POST">
                 <button class="curtida">
                         <img src="../static/imgs/coracaoBranco.png">
                  </button>
            </form>
            <p>Sofia Lira</p>
            <h2>Materiais Utilizados na Peças:</h2>
            <p>Algodão Cru, Led, Lantejoulas</p>
            <h2>Inspiração:</h2>
            <p>A inpiração para construção do vestido base vem da silhueta proposta pelo artista Pierre Cardin, que conscientes em cortes retos, vestidos e outras peças em formato crônico, dando assim e peça uma qualidade andrôgina, pois seu foco não são as curvas do corpo humano.,</p>
            <h2>Conceito:</h2>
            <p>O modelo tem como inspiração cultural o instrumento musical "xerequê". O xerequê possui origem africana. Muito usado nos candomblés da Bahia, nos xangôs do Recife do Recife e em outras manifestações culturais e religiosas como o Maracatu. Este que se faz muito presente nas culturais que inspiram a criação do movimento manguebeat.</p>
            <h2>Como ela associa as culturas:</h2>
            <p>.</p>
            <h2>Nome da equipe de confecção:</h2>
            <p>Esther Wanderley</p>
            <h2>Nome da Modelo:</h2>
            <p>Vanessa Maria dos Santos</p>
            <br>
            <br>
            <h3 style="text-decoration-color: #B926ED;">Outras Pecas:</h3>
            <br>
                <div class="container">
                    <div class="gallery-wrapper">
                        <div class="gallery">
                            <a href="/look1"><img src="../static/imgs-roupas/1.png" alt="look1" class="item current-item"></a>
                            <a href="/look2"><img src="../static/imgs-roupas/2.png" alt="look2" class="item current-item"></a>
                            <a href="/look3"><img src="../static/imgs-roupas/3.png" alt="look3" class="item current-item"></a>
                            <a href="/look4"><img src="../static/imgs-roupas/4.png" alt="look4" class="item current-item"></a>
                            <a href="/look5"><img src="../static/imgs-roupas/5.png" alt="look5" class="item current-item"></a>
                            <a href="/look6"><img src="../static/imgs-roupas/6.png" alt="look6" class="item current-item"></a>
                            <a href="/look7"><img src="../static/imgs-roupas/7.png" alt="look7" class="item current-item"></a>
                            <a href="/look8"><img src="../static/imgs-roupas/8.png" alt="look8" class="item current-item"></a>
                            <a href="/look9"><img src="../static/imgs-roupas/9.png" alt="look9" class="item current-item"></a>
                            <a href="/look11"><img src="../static/imgs-roupas/11.png" alt="look11" class="item current-item"></a>
                         </div>
                    </div>
                </div>
            <br>
            <hr>
        </section>
    </div>

    <footer>
        <br>
        <br>
        <div class="contatos">
            <div class="contato-senac">
                <h2 style="color: white; text-decoration-color: #a6ff00;">Faculdade SENAC</h2>
                <br>
                <div class="icones-redes">
                    <ul>
                        <li><a href="https://www.instagram.com/senacpe/" target="_blank"><i
                                    class="fab fa-instagram icon"></i> </a></li>
                        <li><a href="https://www.linkedin.com/company/senacpe/" target="_blank"><i
                                    class="fab fa-linkedin-in icon"></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="info-contatos">
                    <h4>Endereço</h4>
                    <p>Rua Marquês do Pombal, 57 <br>
                        CEP 50100-170 <br>
                        Santo Amaro – Recife/PE <br>
                    </p>
                    <h4>Telefone:</h4>
                    <p>0800 081 1688</p>
                </div>
                <br>
            </div>
            <div class="contato-recnplay">
                <h2 style="color: white; text-decoration-color: #a6ff00;">Rec 'n' Play</h2>
                <br>
                <div class="icones-redes">
                    <ul>
                        <li><a href="https://www.instagram.com/recnplayfestival/" target="_blank"><i
                                    class="fab fa-instagram icon"></i> </a></li>
                        <li><a href="https://twitter.com/recnplay_br" target="_blank"><i
                                    class="fab fa-twitter icon"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/rec-n-play/" target="_blank"><i
                                    class="fab fa-linkedin-in icon"></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="info-contatos">
                    <h4>Endereço</h4>
                    <p>Rua do Bom Jesus, 227 <br>
                        CEP: 50030-170 <br>
                        Recife/PE <br>
                        Proximo ao Paço do Frevo
                    </p>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="links-uteis">
            <h5>Senac em Outros Projetos: </h5>
            <ul>
                <li><a href="#" style="color: #a6ff00;">O Music Box</a></li>
                <li><a href="#" style="color: #7bff00;">O Manguebeat</a></li>
                <li><a href="#" style="color: #2bff00;">Sobre nós</a></li>
                <li><a href="https://faculdadesenacpe.edu.br/" target="_blank" style="color: #00ff15;">Site Faculdade
                        Senac-PE</a></li>
                <li><a href="#" target="_blank" style="color: #00ff22;">Site Oficial Senac no Rec'N'Play</a></li>
        </div>
        <br>
        <div class="direitos-autorais">
            <h5>&copy; Copyright <strong><span>Faculdade Senac</span></strong>. All Rights Reserved</h5>
        </div>
        <br>
        <div id="logo-senac">
            <a href="https://faculdadesenacpe.edu.br/" target="_blank">
                <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
            </a>
        </div>
        <br>
    </footer>

    <script src="../static/menu.js"></script>
    <script src="../static/carousel.js"></script>
    <script src="../static/pecas.js"></script>
</body>