<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
 
    <title>Recn'Play 2022</title>

</head>

<body>

    <header>
        <nav>

            <div id="logo">
                <a href="https://recnplay.pe" target="_blank"><img id="logorecplay"
                        src="../static/imgs/logo rec'n'play.png" alt=""></a>
            </div>
            <button class="toggle-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span></button>
            <div class="menu-hamburguer">
                <ul>
                    <li>
                        <a>GALERIA DE PEÇAS</a>
                    </li>
                    <li>
                        <a>VÍDEO</a>
                    </li>
                    <li>
                        <a>SOBRE NÓS</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <div id="basedosite">
        <h1 id="texto">oioioioioooi</h1>

    </div>

    <footer>
        <h2 style="text-align: center;">Sobre nós</h2>
        <br>
        <div class="textofooter">
            <div class="textorodape">
                <p class="nomes">Moda</p>
                <p>Ana King
                    <br>
                    Eduarda Mendonça
                    <br>
                    Esther Wanderley
                    <br>
                    Jhony Tárcio
                    <br>
                    João Pereira
                    <br>
                    Leonardo Silveira
                    <br>
                    Maria José Mota
                    <br>
                    Sofia Lins
                </p>
            </div>
            <div class="textorodape">
                <p class="nomes">ADS</p>
                <p>Ayrton Maia
                    <br>
                    Douglas Guedes
                    <br>
                    Erika Santos
                    <br>
                    Gilmar Adrian
                    <br>
                    Júlio Gabriel
                    <br>
                    Karolayne Santos
                    <br>
                    Filipe Lacerda
                    <br>
                    Lívia Vitória
                    <br>
                    Luan Mateus
                    <br>
                    Pedro Henrique
                    <br>
                    Rafael Farias
                    <br>
                    Regina Lima
                    <br>
                    Ronaldo Sabino
                    <br>
                    Vitória Oliveira
                    <br>
                    Aira soares
                    <br>
                    Amanndha Sena
                    <br>
                    Caio Marinho
                    <br>
                    Caio Rodrigues
                    <br>
                    Dayvson Lima
                    <br>
                    Fernanda Guedes
                    <br>
                    Gleice Santos
                    <br>
                    Guilherme Magno
                    <br>
                    Juliana Alves de Farias
                    <br>
                    Juliana Dornelas
                    <br>
                    Lucas
                    <br>
                    Naiury
                    <br>
                    Pedro Calazans
                    <br>
                    Renan Vila Bela
                    <br>
                    Robério
                    <br>
                    Thayssa
                    <br>
                    Thiago Borges
                    <br>
                    Verônica Barbosa
                    <br>
                    Victor Aymar
                    <br>
                    Wallys Ferreira
                </p>
            </div>
        </div>
        <br>
        <div>
            <p class="nomes">Contatos</p>
            <p></p>
        </div>
        <br>

        <a href="https://faculdadesenacpe.edu.br/" target="_blank"><img class="logosenac"
                src="../static/imgs/logo senas.png" alt=""></a>
        <br>
        <a href="http://fecomercio-pe.com.br/site/" target="_blank"><img class="logosenac"
                src="../static/imgs/logos-extended 1 (Traced).png" alt=""></a>
        <br>

    </footer>
    <script type="text/javascript" src="../static/script.js"></script>
</body>