<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" href="../static/gallery.css">

    <title>Rec'n'Play 22</title>
</head>

<body>

    <header>
        <nav>

            <div id="logo">
                <a href="https://recnplay.pe" target="_blank"><img id="logorecplay"
                        src="../static/imgs/logo rec'n'play.png" alt=""></a>
            </div>
            <button class="toggle-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span></button>
            <div class="menu-hamburguer">
                <ul>
                    <li><a href="/">INÍCIO</a></li>
                    <li>
                        <a href="/galeria">GALERIA DE PEÇAS</a>
                    </li>
                    <li>
                        <a href="#boxVideo"id="videos-link">VÍDEO</a>
                    </li>
                    <li>
                        <a href="/sobrenos">SOBRE NÓS</a>
                    </li>
                    <li>
                        <a href="#contatos" class="contatos-link">CONTATO</a>
                    </li>
                    <li><a href="/votacao">VOTE AQUI</a></li>
                    <li><a href="/cardin">PIERRE CARDIN</a></li>
                    <li><a href="/arduino">MANEQUIM</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <div id="basedosite">
        <section id="principal">
            <div class="carousel">
                <div class="carousel__item carousel__item--visible">
                    <img src="../static/imgs/principal.jpeg">
                </div>
                <div class="carousel__item">
                    <img
                        src="../static/imgs/principal2.jpeg">
                </div>
                <div class="carousel__item">
                    <img
                        src="../static/imgs/principal3.jpeg">
                </div>
            
                <div class="carousel__actions">
                    <button id="carousel__button--prev" aria-label="Previous slide"><b><</b></button>
                    <button id="carousel__button--next" aria-label="Next slide"><b>></b></button>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <h1 style="color: #BA26ED;color: white; text-decoration-color: #B926ED;">SOBRE O PROJETO</h1>
                <p>O projeto do Desfile Maker, com a coleção intitulada Pierre Cardin e o Movimento Manguebeat, foi construído a partir da
                integração dos cursos de Design de Moda e de Análise e Desenvolvimento de Sistemas, da Faculdade Senac PE, com o
                objetivo de trazer uma experiência visual diferenciada e interativa para o público, como também para os alunos,
                ultrapassando as paredes da sala de aula. <br> <br>
                A partir desta ideia, foram planejados encontros com os alunos formando verdadeiros workshops de imersão nos cursos,
                onde Moda pode desenvolver a coleção (idealização, criação, modelagem e costura) e ADS pode construir a interação entre
                moda, cultura e tecnologia, fazendo um elo que é expressivo do movimento manguebeat. Tivemos também a participação de
                pessoas presentes na oficina desenvolvida pela Faculdade Senac, na Casa Zero, que colaboraram com a construção de looks
                makers que serão apresentados no evento Rec'n'’Play. <br> <br>
                Pensando nas parabólicas enfiadas na lama do Manguebeat e nas roupas que são inventadas para o amanhã, para o que
                [ainda] não existe, de Cardin, que desenvolvemos o Desfile que une tecnologia maker com software, hardware, leds e
                sensores. As roupas, misturam moda, música, arduino e, sobretudo, culturas. Convidamos vocês para embarcarem nessa
                experiência conosco! <br> <br>
                Tecendo hoje, o amanhã.</p>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <h1 style="color: white; text-decoration-color: #FE7368;">MANGUE BEAT</h1>
                <h2 style="text-decoration-color: #FE7368;">O Movimento</h2>
                <p>O Manguebeat é representado por um caranguejo, animal típico dos mangues. T, e também por uma antena parabólica enfiada na lama, antenados no que havia de novo no mundo, ligando tecnologia à música, modernizando o passado e fazendo uma revolução músico-cultural..que mostra a presença da tecnologia como marca do movimento.</p>
                <p>A partir dos anos 90, surgia em Pernambuco um movimento revolucionário que encontrava um ecossistema cultural e digital favorável para sua eclosão, o Manguebeat. Unindo guitarras e alfaias, mangues e palcos, a lama e o caos. Todos que estavam surdos ouviram o trovão de Chico e de sua nação que anunciavam ao mundo o que os rios e pontes de seu coração, juntando terras, ilhas e culturas umas nas outras tinham a dizer.</p>
                <p>O movimento bebia de várias fontes para se colocar no mundo. Lutando contra problemas sociais, a dificuldade de acesso à informação e a baixa disponibilidade tecnológica na época, vinha para mostrar novas maneiras de fazer arte e de distribuí-la de forma mais abrangente, com o apoio da internet emergente.</p>
                <h2 style="text-decoration-color: #f83b2e;">O que o Manguebeat tem a ver com tecnologia</h2>
                <p>Foi pela inovação num cenário de tecnologia por vezes precária, que o Manguebeat se destacou e chegou a influenciar o que era gerado por polos tecnológicos do estado, como o Porto Digital e o César, através de forma de produzir a intensa atividade cultural experimentada durante a década de 90.</p>
                <p>Por isso, nesses 30 anos de Movimento Manguebeat, o REC ’n’ Play, sendo o maior festival de tecnologia, inovação e cultura do estado, não poderia deixar de prestar suas homenagens.</p>
            </div>
            <br>
            <hr>
            <br>
            <h1 style="color: white; text-decoration-color: #EDC715;">VIDEO</h1>
            <br>
            <figure>
                <div id="boxVideo">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MSupUGT3E98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </figure>
            <br>
            <hr>
            <br>
            <br>
        </section>
    </div>

    <footer>
        <br>
        <br>
        <div class="contatos">
            <div class="contato-senac">
                <h2 style="color: white; text-decoration-color: #a6ff00;">Faculdade SENAC</h2>
                <br>
                <div class="icones-redes">
                    <ul>
                        <li><a href="https://www.instagram.com/senacpe/" target="_blank"><i
                                    class="fab fa-instagram icon"></i> </a></li>
                        <li><a href="https://www.linkedin.com/company/senacpe/" target="_blank"><i
                                    class="fab fa-linkedin-in icon"></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="info-contatos">
                    <h4>Endereço</h4>
                    <p>Rua Marquês do Pombal, 57 <br>
                        CEP 50100-170 <br>
                        Santo Amaro – Recife/PE <br>
                    </p>
                    <h4>Telefone:</h4>
                    <p>0800 081 1688</p>
                </div>
                <br>
            </div>
            <div class="contato-recnplay">
                <h2 style="color: white; text-decoration-color: #a6ff00;">Rec 'n' Play</h2>
                <br>
                <div class="icones-redes">
                    <ul>
                        <li><a href="https://www.instagram.com/recnplayfestival/" target="_blank"><i
                                    class="fab fa-instagram icon"></i> </a></li>
                        <li><a href="https://twitter.com/recnplay_br" target="_blank"><i
                                    class="fab fa-twitter icon"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/rec-n-play/" target="_blank"><i
                                    class="fab fa-linkedin-in icon"></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="info-contatos">
                    <h4>Endereço</h4>
                    <p>Rua do Bom Jesus, 227 <br>
                        CEP: 50030-170 <br>
                        Recife/PE <br>
                        Proximo ao Paço do Frevo
                    </p>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="links-uteis">
            <h5>Senac em Outros Projetos: </h5>
            <ul>
                <li><a href="#" style="color: #a6ff00;">O Music Box</a></li>
                <li><a href="#" style="color: #7bff00;">O Manguebeat</a></li>
                <li><a href="#" style="color: #2bff00;">Sobre nós</a></li>
                <li><a href="https://faculdadesenacpe.edu.br/" target="_blank" style="color: #00ff15;">Site Faculdade
                        Senac-PE</a></li>
                <li><a href="#" target="_blank" style="color: #00ff22;">Site Oficial Senac no Rec'N'Play</a></li>
        </div>
        <br>
        <div class="direitos-autorais">
            <h5>&copy; Copyright <strong><span>Faculdade Senac</span></strong>. All Rights Reserved</h5>
        </div>
        <br>
        <div id="logo-senac">
            <a href="https://faculdadesenacpe.edu.br/" target="_blank">
                <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
            </a>
        </div>
        <br>
    </footer>

    <script src="../static/menu.js"></script>
    <script src="../static/carousel.js"></script>

</body>