<!DOCTYPE html>
<html lang="pt-br">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/sobrenos.css">
    
    <title>Rec'n'Play 22</title>
  </head>

  <body>
    <header>
      <nav>
        <div id="logo">
          <a href="https://recnplay.pe" target="_blank"
            ><img
              id="logorecplay"
              src="../static/imgs/logo rec'n'play.png"
              alt=""
          /></a>
        </div>
        <button class="toggle-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <div class="menu-hamburguer">
          <ul>
            <li><a href="/">INÍCIO</a></li>
            <li>
              <a href="/galeria">GALERIA DE PEÇAS</a>
            </li>
            <li>
              <a href="/sobrenos">SOBRE NÓS</a>
            </li>
            <li>
              <a href="#contatos" class="contatos-link">CONTATOS</a>
            </li>
            <li><a href="/votacao">VOTE AQUI</a></li>
            <li><a href="/cardin">PIERRE CARDIN</a></li>
          </ul>
        </div>
      </nav>
    </header>

    
    <div id="basedosite">
      <section class="equipe">
        <img class="foto-geral" src="../static/imgs/foto geral.jpeg" alt="">
        <br>
        <img src="" alt="">
        <h1 style="color: white; text-decoration-color: #B926ED;"><strong>SOBRE NÓS</strong></h1>
        <br>
        <br>
        <h2 style="color: white; text-decoration-color: #B926ED;"><strong>Professores Orientadores:</strong></h2>
        <br>
        <span>Arnott Caiado</span>
        <span>Samantha Pimentel</span>
        <br>
        <h2 style="color: white; text-decoration-color: #B926ED;"><strong>Professoras Colaboradoras:</strong></h2>
        <br>
        <span>Anete Sales</span>
        <span>Fátima Silva</span>
        <span>Ana Priscila</span>
        <span>Teresa Poças</span>
        <span>Alessandra Santos (Idiomas)</span>
        <span>Suely Mangabeira</span>
        <br>
        <h2 style="color: white; text-decoration-color: #B926ED;"><strong>Coordenadores:</strong></h2>
        <br>
        <span>Marcello Mello</span>
        <span>Daniela Vasconcelos</span>
        <br>
        <br>
        <hr>
        <br>
        <h2 style="color: white; text-decoration-color: #DF24E1;"><strong>ESTUDANTES</strong></h2>
        <br>
        <h3 style="color: #DF24E1;">ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h3>
        <br>
        <span>Adriano Alves da Silva</span>
        <span>Aira soares</span>
        <span>Ayrton Maya</span>
        <span>Caio Gabriel Marinho Oliveira</span>
        <span>Caio Rodrigues dos Santos</span>
        <span>Dayvson Lima dos Santos</span>
        <span>Douglas Guedes</span>
        <span>Erika Santos</span>
        <span>Filipe Lacerda</span>
        <span>Gilmar Adrian</span>
        <span>Gleice Santos</span>
        <span>Ian Rendrick</span>
        <span>Júlio Gabriel</span>
        <span>Karolayne Santos</span>
        <span>Laura Araújo</span>
        <span>Lívia Vitória</span>
        <span>Luan Vinicius</span>
        <span>Maria Eduarda Ribeiro de Lucena </span>
        <span>Maria Fernanda dos Santos</span>
        <span>Maria Regina</span>
        <span>Pedro Henrique</span>
        <span>Rafael Farias</span>
        <span>Ronaldo Sabino</span>
        <span>Thayssa Alexandre da Silva</span>
        <span>Thiago Borges da Silva</span>
        <span>Vitória oliveira</span>
        <span>Wallys Ferreira da Silva</span>
        <br>
        <hr>
        <br>
        <h3 style="color: #EB7E17;">DESIGN DE MODA</h3>
        <br>
        <span>Ana King</span>
        <span>Ana Clara Soares</span>
        <span>Eduarda Mendonça de Almeida</span>
        <span>Esther</span>
        <span>Jhonny Tércio de Sousa Costa</span>
        <span>Jhony Tárcio</span>
        <span>João Pereira de Assis Neto</span>
        <span>Leonardo Silveira Gama</span>
        <span>Leticia Delfim</span>
        <span>Luísa Lima Toroxel</span>
        <span>Maria Clara Fragoso</span>
        <span>Maria José Mota</span>
        <span>Paloma Dynia Andrade</span>
        <span>Raquel Elisa</span>
        <span>Sofia Lins</span>
        <span>Tárcio de Sousa</span>
        <span>Vanessa Maria</span>
        <span>Victor Pimental</span>
        <span>Victória Lima Dias Pereira</span>
        <span>Viviane Alencar</span>
        <br>
        <hr>
        <br>
    </div>

    <footer>
      <br>
      <br>
      <div class="contatos">
        <div class="contato-senac">
          <h2 style="color: white; text-decoration-color: #a6ff00;">Faculdade SENAC</h2>
          <br>
          <div class="icones-redes">
            <ul>
              <li><a href="https://www.instagram.com/senacpe/" target="_blank"><i class="fab fa-instagram icon"></i> </a>
              </li>
              <li><a href="https://www.linkedin.com/company/senacpe/" target="_blank"><i
                    class="fab fa-linkedin-in icon"></i></a></li>
            </ul>
          </div>
          <br>
          <div class="info-contatos">
            <h4>Endereço</h4>
            <p>Rua Marquês do Pombal, 57 <br>
              CEP 50100-170 <br>
              Santo Amaro – Recife/PE <br>
            </p>
            <h4>Telefone:</h4>
            <p>0800 081 1688</p>
          </div>
          <br>
        </div>
        <div class="contato-recnplay">
          <h2 style="color: white; text-decoration-color: #a6ff00;">Rec 'n' Play</h2>
          <br>
          <div class="icones-redes">
            <ul>
              <li><a href="https://www.instagram.com/recnplayfestival/" target="_blank"><i
                    class="fab fa-instagram icon"></i> </a></li>
              <li><a href="https://twitter.com/recnplay_br" target="_blank"><i class="fab fa-twitter icon"></i></a></li>
              <li><a href="https://www.linkedin.com/company/rec-n-play/" target="_blank"><i
                    class="fab fa-linkedin-in icon"></i></a></li>
            </ul>
          </div>
          <br>
          <div class="info-contatos">
            <h4>Endereço</h4>
            <p>Rua do Bom Jesus, 227 <br>
              CEP: 50030-170 <br>
              Recife/PE <br>
              Proximo ao Paço do Frevo
            </p>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="links-uteis">
        <h5>Senac em Outros Projetos: </h5>
        <ul>
          <li><a href="#" style="color: #a6ff00;">O Music Box</a></li>
          <li><a href="#" style="color: #7bff00;">O Manguebeat</a></li>
          <li><a href="#" style="color: #2bff00;">Sobre nós</a></li>
          <li><a href="https://faculdadesenacpe.edu.br/" target="_blank" style="color: #00ff15;">Site Faculdade Senac-PE</a>
          </li>
          <li><a href="#" target="_blank" style="color: #00ff22;">Site Oficial Senac no Rec'N'Play</a></li>
      </div>
      <br>
      <div class="direitos-autorais">
        <h5>&copy; Copyright <strong><span>Faculdade Senac</span></strong>. All Rights Reserved</h5>
      </div>
      <br>
      <div id="logo-senac">
        <a href="https://faculdadesenacpe.edu.br/" target="_blank">
          <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
        </a>
      </div>
      <br>
    </footer>

    <script type="text/javascript" src="../static/menu.js"></script>
  </body>