<!DOCTYPE html>
<html lang="pt-br">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/sobrenos.css">
    
    <title>Rec'n'Play</title>
  </head>

  <body>
    <header>
      <nav>
        <div id="logo">
          <a href="https://recnplay.pe" target="_blank"
            ><img
              id="logorecplay"
              src="../static/imgs/logo rec'n'play.png"
              alt=""
          /></a>
        </div>
        <button class="toggle-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <div class="menu-hamburguer">
          <ul>
            <li><a href="/">INÍCIO</a></li>
            <li>
              <a href="/galeria">GALERIA DE PEÇAS</a>
            </li>
            <li>
              <a href="/sobrenos">SOBRE NÓS</a>
            </li>
            <li>
              <a href="#contatos" class="contatos-link">CONTATOS</a>
            </li>
            <li><a href="/votacao">VOTE AQUI</a></li>
            <li><a href="/cardin">PIERRE CARDIN</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="basedosite">
      <section class="equipe">
        <img src="" alt="">
        <h1 style="color: white; text-decoration-color: #B926ED;"><strong>SOBRE NÓS</strong></h1>
        <br>
        <br>
        <h2 style="color: white; text-decoration-color: #B926ED;"><strong>COORDENADORES</strong></h2>
        <br>
        <span>Arnott Caiado</span>
        <span>Samantha Pimentel</span>
        <br>
        <br>
        <hr>
        <br>
        <h2 style="color: white; text-decoration-color: #DF24E1;"><strong>ESTUDANTES</strong></h2>
        <br>
        <h3 style="color: #DF24E1;">ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h3>
        <br>
        <span>Adriano Alves da Silva Júnior</span>
        <span>Aira soares</span>
        <span>Amanndha Hellen Garcia de Sena </span>
        <span>Ayrton Maya</span>
        <span>Caio Gabriel Marinho Oliveira Do Nascimento</span>
        <span>Caio Rodrigues dos Santos Silva</span>
        <span>Dayvson Lima dos Santos</span>
        <span>Douglas Guedes</span>
        <span>Erika Santos</span>
        <span>Filipe Lacerda</span>
        <span>Gilmar Adrian</span>
        <span>Gleice Santos</span>
        <span>Ian Rendrick</span>
        <span>Júlio Gabriel</span>
        <span>Karolayne Santos</span>
        <span>Laura Araújo</span>
        <span>Lívia Vitória</span>
        <span>Luan Vinicius</span>
        <span>Maria Eduarda Ribeiro de Lucena </span>
        <span>Maria Fernanda dos Santos Guedes</span>
        <span>Maria Regina</span>
        <span>Pedro Henrique</span>
        <span>Rafael Farias</span>
        <span>Ronaldo Sabino</span>
        <span>Thayssa Alexandre da Silva</span>
        <span>Thiago Borges da Silva</span>
        <span>Vitória oliveira</span>
        <span>Wallys Ferreira da Silva</span>
        <br>
        <hr>
        <br>
        <h3 style="color: #EB7E17;">DESIGN DE MODA</h3>
        <br>
        <span>Ana King</span>
        <span>Eduarda Mendonça</span>
        <span>Eduarda Mendonça de Almeida</span>
        <span>Giulia Vasconcelos</span>
        <span>Jhonny Tércio de Sousa Costa</span>
        <span>Jhony Tárcio</span>
        <span>João Pereira</span>
        <span>Leonardo Silveira</span>
        <span>Leonardo Silveira Gama</span>
        <span>Leticia Delfim</span>
        <span>Luísa Toroxel</span>
        <span>Maria José Mota</span>
        <span>Paloma Dynia Andrade</span>
        <span>Sofia Lins</span>
        <span>Vanessa Maria</span>
        <span>Victória Lima Dias Pereira</span>
        <span>Viviane Alencar</span>
        <br>
        <hr>
        <br>
        <h3 style="color: #95D546;">LINGUAGENS</h3>
        <br>
    </div>

    <footer>
      <br>
      <br>
      <div>
        <p id="contatos">CONTATOS</p>
        <p></p>
      </div>
      <br>
      
      <a href="https://faculdadesenacpe.edu.br/" target="_blank">
        <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
      </a>
      <br>
    </footer>

    <script type="text/javascript" src="../static/menu.js"></script>
  </body>