<!DOCTYPE html>
<html lang="pt-br">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/sobrenos.style.css" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    
    <title>Recn'Play</title>
  </head>

  <body>
    <header>
      <nav>
        <div id="logo">
          <a href="https://recnplay.pe" target="_blank"
            ><img
              id="logorecplay"
              src="../static/imgs/logo rec'n'play.png"
              alt=""
          /></a>
        </div>
        <button class="toggle-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <div class="menu-hamburguer">
          <ul>
            <li><a href="../templates/principal.html">INICIO</a></li>
            <li>
              <a>GALERIA DE PEÇAS</a>
            </li>
            <li>
              <a href="#basedosite" id="videos-link">VÍDEO</a>
            </li>
            <li>
              <a href="#">SOBRE NÓS</a>
            </li>
            <li>
              <a href="#contatos" id="contatos-link">CONTATO</a>
            </li>
            <li><a href="#">VOTE AQUI</a></li>
            <li><a href="#">PIERRE CARDIN</a></li>
            <li><a href="#">PROJETOS</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="basedosite">
      <section class="equipe">
        <img src="" alt="">
        <h1 style="text-align: center;
        text-decoration: underline;
        text-decoration-color: #BA26ED;
        text-underline-position: above;
        font-size: 25px;
        color: white;">Sobre Nós</h1>
        <br>
        <h2 style="color: white; text-decoration-color: #BA26ED;"><strong>Coordenadores</strong></h2>

        <span>Arnott Caiado</span>
        <span>Samantha Pimentel</span>

        <br>
        <hr>
        <br>
        <h2 style="color: #BA26ED;"><strong>Estudantes</strong></h2>

        <h3 style="color: #c04ee6;">Análise de Desenvolvimento de Sistemas</h3>

        <span>Aira soares</span>
        <span>Amanndha Hellen Garcia de Sena </span>
        <span>Ayrton Maya</span>
        <span>Caio Gabriel Marinho Oliveira Do Nascimento</span>
        <span>Caio Rodrigues dos Santos Silva</span>
        <span>Dayvson Lima dos Santos</span>
        <span>Douglas Guedes</span>
        <span>Erika Santos</span>
        <span>Fabrício Dias da Silva</span>
        <span>Filipe Lacerda</span>
        <span>Gilmar Adrian</span>
        <span>Gleice Santos</span>
        <span>Júlio Gabriel</span>
        <span>Karolayne Santos</span>
        <span>Laura Araújo</span>
        <span>Lívia Vitória</span>
        <span>Luan Vinicius</span>
        <span>Maria Eduarda Ribeiro de Lucena </span>
        <span>Maria Fernanda dos Santos Guedes</span>
        <span>Maria Regina</span>
        <span>Pedro Henrique</span>
        <span>Rafael Farias</span>
        <span>Ronaldo Sabino</span>
        <span>Thayssa Alexandre da Silva</span>
        <span>Thiago Borges da Silva</span>
        <span>Vitória oliveira</span>
        <span>Wallys Ferreira da Silva</span>

        <br>
        <hr>
        <br>
        <h3 style="color: #e5ff00;">Design de Moda</h3>

        <span>Ana King</span>
        <span>Eduarda Mendonça</span>
        <span>Eduarda Mendonça de Almeida</span>
        <span>Giulia Vasconcelos</span>
        <span>Jhonny Tércio de Sousa Costa</span>
        <span>Jhony Tárcio</span>
        <span>João Pereira</span>
        <span>Leonardo Silveira</span>
        <span>Leonardo Silveira Gama</span>
        <span>Leticia Delfim</span>
        <span>Luísa Toroxel</span>
        <span>Maria José Mota</span>
        <span>Paloma Dynia Andrade</span>
        <span>Sofia Lins</span>
        <span>Vanessa Maria</span>
        <span>Victória Lima Dias Pereira</span>
        <span>Viviane Alencar</span>

        <br>
        <hr>
        <br>
        <h3 style="color: #9dff00;">Linguagens</h3>

      </section>
    </div>

    <footer>
      <h2 style="text-align: center" id="sobre">Contatos</h2>
      <br />

      <br />
      <div id="contatos">
        <p>Contatos</p>
        <p></p>
      </div>
      <br />

      <a href="https://faculdadesenacpe.edu.br/" target="_blank"
        ><img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt=""
      /></a>
      <br />
    </footer>
    <script type="text/javascript" src="../static/script.js"></script>
  </body>
</html>
