<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="votacao.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" href="../static/votacao.css">

    <title>Rec'n'Play 22</title>
</head>

<body>

    <header>
        <nav>

            <div id="logo">
                <a href="https://recnplay.pe" target="_blank"><img id="logorecplay"
                        src="../static/imgs/logo rec'n'play.png" alt=""></a>
            </div>
            <button class="toggle-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span></button>
            <div class="menu-hamburguer">
                <ul>
                    <li><a href="/">INÍCIO</a></li>
                    <li>
                        <a href="/galeria">GALERIA DE PEÇAS</a>
                    </li>
                    <li>
                        <a href="/sobrenos">SOBRE NÓS</a>
                    </li>
                    <li>
                        <a href="#contatos" id="contatos-link">CONTATO</a>
                    </li>
                    <li><a href="/votacao">VOTE AQUI</a></li>
                    <li><a href="/cardin">PIERRE CARDIN</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <div id="basedosite">
        <section id="votacao">
            <div class="teste1">
                <div class="teste2">
                </div>
                <div class="teste3">
                    <div class="title"><h1>VOTE NO SEU LOOK PREFERIDO!</h1></div>
                    <class>
                        <!--<form method="POST" class="form-a" action="/a">
                                <div class="new"><input type="radio" name="voto" class="teste" value="1"></div>
                                <input id="btn" type="submit" name="botao" value="Enviar">
                            </form>-->
                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto" method="post">
                                    <input id="btn" type="submit" name="botao" value="VOTAR">
                                </form>
                            </div>                                                       
                                              
                        </div> 

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto2" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div> 
                    
                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto3" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div> 

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto4" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto5" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto6" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto7" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto8" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto9" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto10" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>

                        <div class="divVotacao">
                            <div class="colunaVotacao">
                                <img class = modelo1Votacao src="img/modelo1.jpeg" alt="" width="150px" height="150px">
                            </div>
                            <div class="colunaVotacao">
                                <h3>NOME MODELO</h3>
                                <p>nome autor croqui</p>
                                <form class="button" action="/voto11" method="post">
                                    <p>VOTAR</p>
                                </form>
                            </div>                                                                                                     
                        </div>
                        <button  class="botao" > <b>REGISTRAR VOTO</b> </button>                                                 
                    </class>                
                </div>
                <div class="teste2">                   
                </div>
            </div>                   
        </section>
    </div>
                
        </section>
    </div>

    <footer>
        <br>
        <br>
        <div class="contato-senac">
            <h2 style="color: white; text-decoration-color: #a6ff00;">Faculdade SENAC</h2>
            <br>
            <div class="icones-redes">
                <a href="https://www.instagram.com/senacpe/" target="_blank">
                    <img src="../static/imgs-icones/Instagram_logo.png" alt="insta-Senac">
                </a>
                <a href="https://www.linkedin.com/company/senacpe/" target="_blank">
                    <img src="../static/imgs-icones/174857 1 (Traced).png" alt="linkedln-Senac">
                </a>
            </div>
            <br>
            <div class="info-contatos">
                <h4>Endereço</h4>
                <p>Rua Marquês do Pombal, 57 <br>
                    CEP 50100-170 <br>
                    Santo Amaro – Recife/PE <br>
                </p>
                <h4>Telefone:</h4>
                <p>0800 081 1688</p>
            </div>
            <br>
        </div>
        <div class="contato-recnplay">
            <h2 style="color: white; text-decoration-color: #a6ff00;">Rec 'n' Play</h2>
            <br>
            <div class="icones-redes">
                <a href="https://www.instagram.com/recnplayfestival/" target="_blank">
                    <img src="../static/imgs-icones/Instagram_logo.png" alt="insta-Recnplay">
                </a>
                <a href="https://www.linkedin.com/company/rec-n-play/" target="_blank">
                    <img src="../static/imgs-icones/174857 1 (Traced).png" alt="linkedln-Recnplay">
                </a>
                <a href="https://twitter.com/recnplay_br" target="_blank">
                    <img src="../static/imgs-icones/image 1 (Traced).png" alt="twitter-Recnplay">
                </a>
            </div>
            <br>
            <div class="info-contatos">
                <h4>Endereço</h4>
                <p>Rua do Bom Jesus, 227 <br>
                    CEP: 50030-170 <br>
                    Recife/PE <br>
                    Proximo ao Paço do Frevo
                </p>
            </div>
            <br>
        </div>
        <br>
        <div class="links-uteis">
            <h5>Senac em Outros Projetos: </h5>
            <ul>
                <li><a href="#" style="color: #a6ff00;">O Music Box</a></li>
                <li><a href="#" style="color: #7bff00;">O Manguebeat</a></li>
                <li><a href="#" style="color: #2bff00;">Sobre nós</a></li>
                <li><a href="https://faculdadesenacpe.edu.br/" target="_blank" style="color: #00ff15;">Site Faculdade
                        Senac-PE</a></li>
                <li><a href="#" target="_blank" style="color: #00ff22;">Site Oficial Senac no Rec'N'Play</a></li>
        </div>
        <br>
        <div class="direitos-autorais">
            <p>&copy; Copyright <strong><span>Faculdade Senac</span></strong>. All Rights Reserved</p>
        </div>
        <br>
        <div id="logo-senac">
            <a href="https://faculdadesenacpe.edu.br/" target="_blank">
                <img class="logosenac" src="../static/imgs/logo_mono 2.svg" alt="">
            </a>
        </div>
        <br>
    </footer>

    <script type="text/javascript">
        $(document).on('submit', '.voto-1', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto',
                data: {
                    roupa1: $(".teste").val()
                }
            })
        });
        $(document).on('submit', '.voto-2', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto2',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-3', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto3',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-4', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto4',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-5', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto5',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-6', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto6',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-7', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto7',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-8', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto8',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-9', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto9',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-10', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto10',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
        $(document).on('submit', '.voto-11', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/voto11',
                data: {
                    roupa2: $(".roupa2").val()
                }
            })
        });
    </script>
    <script src="../static/menu.js"></script>
</body>