html { 
  font-family: Helvetica; 
  display: inline-block; 
  margin: 0px auto; 
  text-align: center;
}
h1 {
  color: #444444;
  margin: 50px auto 30px;
} 
h3 {color: #444444;
  margin-bottom: 50px;
}
.button {
  display: block;
  width: 80px;
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 13px 30px;
  text-decoration: none;
  font-size: 25px;
  margin: 0px auto 35px;
  cursor: pointer;
  border-radius: 4px;
}
.button-on {
  background-color: #1abc9c;
}
.button-on:active {
  background-color: #16a085;
}
.button-off {
  background-color: #34495e;
}
.button-off:active {
  background-color: #2c3e50;
}
p {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

#arduino h1 {
    text-decoration: underline;
    text-underline-position: under;
    text-transform: uppercase;
    text-align: left;
    font-size: 2.4rem;
    padding-left: 5%;
  }
  
  #arduino h2 {
    text-decoration: underline;
    text-underline-position: under;
    text-transform: uppercase;
    text-align: left;
    color: white;
    font-size: 1.5rem;
    padding-left: 5%;
  }
  
  #arduino p {
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-right: 2%;
  }
  
  #arduino h3 {
    text-decoration: underline;
    text-underline-position: under;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-left: 5%;
  }
  
  #lookDestaque {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 200px;
    height: 400px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }

  #arduino button {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 6px;
    font-size: 1.4rem;
    color: rgb(212, 0, 255);
    cursor: pointer;
    transition: all .25s ease-in-out;
    margin-left: 5%;
  }
  #arduino .label {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  #arduino .label svg {
    margin-right: 4px;
  }
  #arduino .label path {
    fill: #676767;   
    transition: all .25s ease-in-out;       
  }
  #arduino .number {
    color: #676767;
    width: 20px;
    height: 20px;
    right: 5%;
  }
  #arduino button:hover path{
    fill: #ff00fd;
  }
  #arduino button.like .number {
    color: #ff00fd
  }
  #arduino button.like svg {
    animation: transitionLike 1s ease-in;
  }
  #arduino button.like path {
    fill: #ff00fd;
  }
  
  @keyframes transitionLike {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }