#cardin h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #BA23DE;
    text-underline-position: under;
    text-transform: uppercase;
    color: white;
    font-size: 2.4rem;
}

#cardin h6  {
    text-align: center;
    color: white;
}

#cardin span {
    color: #a6ff00;
}

#cardin p {
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 2%;
}

#cardin a {
    color: white;
    background-color: #1A1A1A;
}

#cardin ul {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#cardin li {
    width: 250px;
}

@media screen and (max-width:249px) {
    #cardin img {
        margin: auto;
        display: block;
        max-width: 80%;
        min-width: 50%;
        border-radius: 10px;
    }

    #cardin ul {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        min-width: 50%;
    }
}


@media screen and (min-width:250px) {
    #cardin img {
        margin: auto;
        display: block;
        max-width: 80%;
        min-width: 50%;
        border-radius: 10px;
    }
    #cardin ul {
        display: flex;
        flex-direction: row;
        width: 340px;
    }
}


@media screen and (min-width:450px) {
    #cardin img {
        margin: auto;
        display: block;
        max-width: 80%;
        min-width: 50%;
        border-radius: 10px;
    }
    #cardin ul {
        width: 400px;
    }
}

@media screen and (min-width:560px) {
    #cardin img {
        margin: auto;
        display: block;
        max-width: 80%;
        min-width: 50%;
        border-radius: 10px;
    }
    #cardin ul {
        width: 500px;
    }
}

@media screen and (min-width:700px) {
    #cardin img {
        margin: auto;
        display: block;
        max-width: 80%;
        min-width: 50%;
        border-radius: 10px;
    }
    #cardin ul {
        width: 615px;
    }
}

@media screen and (min-width:840px) {
    #cardin img {
        margin: auto;
        display: block;
        max-width: 80%;
        min-width: 35%;
        border-radius: 10px;
    }
    #cardin ul {
        width: 810px;
    }
}