/* Carrosel */

.carousel {
  z-index: 1;
  padding-bottom: 56.25%;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 600px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border: 0;
  background-color: #1A1A1A;
  opacity: 35%;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 300px;
  max-height: 600px;
  color: #8828FE;
  font-size: x-large;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 0px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 0px;
}

.carousel img {
  width: 250px;
  height: 250px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/* Galeria */

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}
.gallery-items{
  width: 152px;
  height: 600px;
  border: 1.5px solid #FFF;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform .3s linear;
}
.gallery-items img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery-items:hover{
  transform: scale(1.3);
}

/* Responsividade */

@media screen and (min-width:250px) {
  #galeria h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #BA23DE;
    text-underline-position: under;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    padding-top: 3%;
  }

  .gallery-items {
      width: 70px;
      height: 250px;
      border: 1.5px solid #FFF;
      border-radius: 10px;
      box-shadow: 5px 5px 5px #0006;
      flex-grow: 1;
      transition: transform .3s linear;
  }
  
  .gallery-items img {
      width: 100%;
      height: 90%;
      padding-top: 20%;
      border-radius: 10px;
      object-fit: cover;
  }
}

@media screen and (min-width:450px) {
  #galeria h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #BA23DE;
    text-underline-position: under;
    text-transform: uppercase;
    color: white;
    font-size: 2.4rem;
    padding-top: 3%;
  }

  .gallery-items {
    width: 152px;
    height: 600px;
    border: 1.5px solid #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .3s linear;
  }

  .gallery-items img {
    width: 100%;
    height: 100%;
    padding-top: 0%;
    border-radius: 10px;
    object-fit: cover;
  }
}