.equipe {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.foto-geral{
    border-radius: 1.5rem  1.5rem 0 0;
}
.equipe h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #BA26ED;
    text-underline-position: under;
    font-size: 2.4rem;
    padding-top: 3%;
}

.equipe h2 {
    text-decoration: underline;
    text-underline-position: under;
    font-size: 20px;
}

.equipe h3 {
    font-size: 15px;
}

.equipe span {
    color: white;
}

.equipe abbr {
    text-decoration: none;
}