.equipe {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.equipe h2 {
    text-decoration: underline;text-underline-position: above;
    font-size: 20px;
}

.equipe h3 {
    font-size: 15px;
}

.equipe span {
    color: white;
}