nav{
    background-color: black;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    
}

nav button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 500%;
    position: absolute;
    right:3%;
    
}
nav button:focus ~ ul{
    height:auto;
}

nav a{
    text-decoration: none;
    color: white;
}

nav, ul{
    display: flex;
    flex-direction: column;
    align-items: unset;
}

nav ul{
    list-style: none;
    padding: none;
    text-align: center;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}



nav li{
    padding: 2%;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
    
}

#logorecplay{

    max-width: 30%;
    min-width: 10%;
    left: 2%;

}

#cordefundo{

    background-image: linear-gradient(#8828FE, #FE23D7, #FFBE00, #C1DC49, #3ED948);
    width: auto;
    height: 1000px;
    position:relative;
    z-index: 999;
    
}

#basedosite{
    background-color: gray;
    width: 90%;
    min-height: 950px;
    display: flex;
    justify-content: center;
    left: 5%;
    top: 3%;
}


footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

footer h2{
    text-decoration:underline;
    padding-left: 2%;
    
}

.textorodape{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
}

.nomes{
    text-decoration: underline;
    color: white;
}

footer p{
    color: white;
}
#logosenac{
    
    max-width: 30%;
    min-width: 10%;
    
}